{% extends 'adminlte/base.html' %}

{% block content %}
<div class="container rounded bg-white">
    <form id="formHotel" action="{% url 'edit_hotel' hotel.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-header" style="background-color:black;">
            <h5 class="modal-title" style="color:white;">Hotel Information</h5>
        </div>

        <!-- Hiển thị thông báo lỗi nếu có -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} text-center mt-2">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="modal-body">
            <div class="container mt-4">
                <div class="row mb-3">
                    <div class="col-md-3">
                        <label class="form-label" for="name_en">Hotel Name (EN) <span style="color: red;">*</span></label>
                        {{ form.name_en }}
                        {% if form.name_en.errors %}
                            <div class="invalid-feedback">{{ form.name_en.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="name_jp">Hotel Name (JP) <span style="color: red;">*</span></label>
                        {{ form.name_jp }}
                        {% if form.name_jp.errors %}
                            <div class="invalid-feedback">{{ form.name_jp.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="city_id">City <span style="color: red;">*</span></label>
                        {{ form.city_id }}
                        {% if form.city_id.errors %}
                            <div class="invalid-feedback">{{ form.city_id.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Hotel Code (6 Digits) <span style="color:red">*</span></label>
                        {{ form.hotel_code }}
                        {% if form.hotel_code.errors %}
                            <div class="invalid-feedback">{{ form.hotel_code.errors }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label class="form-label" for="company_name">Company Name <span style="color: red;">*</span></label>
                        {{ form.company_name }}
                        {% if form.company_name.errors %}
                            <div class="invalid-feedback">{{ form.company_name.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="email">Email <span style="color: red;">*</span></label>
                        {{ form.email }}
                        {% if form.email.errors %}
                            <div class="invalid-feedback">{{ form.email.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="telephone">Telephone <span style="color: red;">*</span></label>
                        {{ form.telephone }}
                        {% if form.telephone.errors %}
                            <div class="invalid-feedback">{{ form.telephone.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="fax">Fax</label>
                        {{ form.fax }}
                        {% if form.fax.errors %}
                            <div class="invalid-feedback">{{ form.fax.errors }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label class="form-label" for="tax_code">Tax Code</label>
                        {{ form.tax_code }}
                        {% if form.tax_code.errors %}
                            <div class="invalid-feedback">{{ form.tax_code.errors }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label" for="address_1">Address 1 <span style="color: red;">*</span></label>
                        {{ form.address_1 }}
                        {% if form.address_1.errors %}
                            <div class="invalid-feedback">{{ form.address_1.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="address_2">Address 2</label>
                        {{ form.address_2 }}
                        {% if form.address_2.errors %}
                            <div class="invalid-feedback">{{ form.address_2.errors }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="mt-5 text-center">
                    <button id="cancelBtn" class="btn btn-secondary profile-button" type="button">Cancel</button>
                    <button id="saveBtn" class="btn btn-primary profile-button" type="submit" disabled>Save Hotel</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block extra_js %}

{% endblock %}